<div id="about" style="display:none">
    <div class="container">
        <div class="card">
            <div class="card-header">About GDB</div>
            <div class="card-body">
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="version">Version:</label>
                    <div class="col-md-8" id="version">{{version}}</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="license">License:</label>
                    <div class="col-md-8" id="license">GPLv3</div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 control-label" for="version">Contact:</label>
                    <div class="col-md-8">
                        <div id="contactPhone">+1-919-961-0519</div>
                        <div id="contactEmail">andrewfreitas09@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>