html, body {
  font-family: "Lato", sans-serif;
  background-color: #eee;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.dropdown-item {
  cursor: pointer;
}

#mainSpinner {
    padding-top: 15%;
}

#main {
    margin-top: 6em;
}

.lds-ripple {
  display: block;
  margin: auto;
  position: relative;
  width: 200px;
  height: 200px;
}
.lds-ripple div {
  position: absolute;
  border: 2px solid #818181;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 3s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -1.5s;
}
@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 6px;
    left: 6px;
    width: 180px;
    height: 180px;
    opacity: 0;
  }
}

.progress-back {
    width: 100%;
    background-color: #ddd;
    height: 4px;
}

.progress-bar {
    background-color: #818181;
    width: 0;
    height: 4px;
}