.dashboard-title {
    text-align: center;
}

.grid {
    padding-left: 45px;
    padding-right: 45px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}
.grid-item {
    padding: .2em;
    flex-basis: auto;
}

.highcharts-data-table {
    width: 1000px;
    height: 300px;
    order: 99;
}

.highcharts-contextmenu {
    bottom: auto !important;
    top: 5px;
}