#summary-detail {
    height: 800px;
    width: 30%;
    padding-right: 1em;
}

#summary-map {
    height: 800px;
    width: 70%;
}

.site-name {
    display: inline;
}
.last-upload {
    float: right;
}
.down {
    background-color: #ff7d5a;
}
.down:hover {
    background-color: tomato;
}
.up {
    border: 1px solid lightgreen;
}
.up:hover {
    background-color: lightgreen;
}
.offline {
    background-color: #aaa;
}
.offline:hover {
    background-color: #888;
}
.inactive {
    display: none;
}
.column {
    width: 31%;
    display: inline-grid;
    padding: 1em;
}
.summary-accordion {
    cursor: pointer;
    padding: .5em;
    margin: .1em;
    width: 100%;
    text-align: left;
    border-radius: .1em;
    outline: none;
    transition: 0.4s;
}
.broker-summary {
    display: none;
}

.summary-detail-site-name {
    display: inline-block;
}

.summary-detail-last-upload {
    float: right;
}
